.btn-acao-card{
    display: flex;
    justify-content: space-around;

    button{
        width: 8rem;
        font-size: 90%;
        transition: 0.2s;
    }
    button:hover{
        transforma: scale(1.04);
    }
}
