<div class="container mt-4">
    <div class="card card-cadastro">
        <div class="card-body">
            <h5 class="card-title mb-3">Cadatro de Tarefas</h5>
            <mdb-form-control>
                <input mdbInput type="text" id="taskTitulo" class="form-control" [(ngModel)]='tasks.titulo' />
                <label mdbLabel class="form-label" for="taskTitulo">Titulo</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <textarea mdbInput class="form-control" id="taskDescricao" rows="4" [(ngModel)]='tasks.descricao'></textarea>
                <label mdbLabel class="form-label" for="taskDescricao">Descrição</label>
            </mdb-form-control>
            <br>
            <p>Prioridade: </p>
            <div class="btn-group">
                <input
                    mdbRadio
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="taskPrioridadeAlta"
                    autocomplete="off"
                    [value]="Prioridade.ALTA"
                    [(ngModel)]='tasks.prioridade'
                />
                <label class="btn btn-secondary" for="taskPrioridadeAlta">Alta</label>
                <input
                    mdbRadio
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="taskPrioridadeMedia"
                    autocomplete="off"
                    [value]="Prioridade.MEDIA"
                    [(ngModel)]='tasks.prioridade'
                />
                <label class="btn btn-secondary" for="taskPrioridadeMedia">Media</label>
                <input
                    mdbRadio
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="taskPrioridadeBaixa"
                    autocomplete="off"
                    [value]="Prioridade.BAIXA"
                    [(ngModel)]='tasks.prioridade'
                />
                <label class="btn btn-secondary" for="taskPrioridadeBaixa">Baixa</label>
            </div>
            <br>
            <br>
            <mdb-form-control>
                <input mdbInput type="date" id="tasksData" class="form-control" [(ngModel)]="tasks.prazo" />
                <label mdbLabel class="form-label" for="tasksData">Prazo</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <input mdbInput type="text" id="tasksUser" class="form-control" [(ngModel)]='tasks.usuarioDestino'/>
                <label mdbLabel class="form-label" for="tasksUser">Usuario Destino</label>
            </mdb-form-control>
            <br>
            <button type="button" class="btn btn-primary btn-block" (click)="cadastrarTask()" >Cadastrar</button>
        </div>
    </div>
    <div class="cards-lista">
        @if (lista.length === 0) {
            <div class="card-null">Sem tarefas cadastrada</div>
        }
        @for (tasks of lista; track tasks.id) {
            <div class="card bg-opacity-25 shadow" style="width: 18rem;" [class.bg-danger]="tasks.prioridade === Prioridade.ALTA" [class.bg-warning]="tasks.prioridade === Prioridade.MEDIA" [class.bg-info]="tasks.prioridade === Prioridade.BAIXA">
                <div class="card-body">
                    <h5 class="card-title">{{tasks.titulo}}</h5>
                    <h6 class="card-subtitle mb-3 text-danger">{{tasks.prazo}}</h6>
                    <p class="card-text">{{tasks.descricao}}</p>
                    <h6 class="card-subtitle mt-3">Destino: <span>{{tasks.usuarioDestino}}</span></h6>
                    <h6 class="card-subtitle mb-4 mt-1">Criado por: <span>Pedro Silva</span></h6>
                    <button class="btn btn-danger me-4 ms-2">Deletar</button>
                    <button class="btn btn-warning">Alterar</button>
                </div>
            </div>
        }
    </div>

</div>
