<main>
    <div class="title">
        <h1>Projetos</h1>
    </div>
    <div class="list-project mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">[copiou]</h5>
                <p class="card-text">
                    Organizar a estrutura de pastas do projeto, separando os arquivos de acordo com suas respectivas responsabilidades e funcionalidades.
                    A estrutura deve ser organizada de forma a facilitar a manutenção, localização e reutilização dos arquivos, seguindo a divisão entre componentes, páginas, serviços e models.]
                </p>
                <div class="card-descricao">
                    <div class="list-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg>
                    <p>21/08/2026</p></div>
                    <div class="list-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                        </svg>
                    <p>09/09/2026</p></div>
                </div>
                <div class="cads-button text-center">
                <button type="button" class="btn btn-primary">Detalhes</button>
                </div>
            </div>
        </div>

        @for(project of projects; track project.id){
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">{{project.name}}</h5>
                    <p class="card-text">
                        {{project.description}}
                    <div class="card-descricao">
                        <div class="list-date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        <p>{{project.startDate}}</p></div>
                        <div class="list-date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                            </svg>
                        <p>{{project.deadLine}}</p></div>
                    </div>
                    <div class="cads-button text-center">
                    <button type="button" class="btn btn-primary">Detalhes</button>
                    </div>
                </div>
            </div>
        }

    </div>
</main>