.list-project{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    .card{
        width: 25rem;
    }

    .card-text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        height: 4.7rem;
    }
    .card-descricao{
        display: flex;
        justify-content: space-around;
    }
    .list-date{
        display: flex;
        gap: 0.2rem;
    }
}

