
<div class="project-card__header">
  <div>
    <h3 class="project-card__title">
      <a [routerLink]="['/tasks']" [queryParams]="{ projeto: project.name }">{{ project.name }}</a>
    </h3>
    <span class="badge badge--{{ project.status }}">{{ project.status }}</span>
  </div>
  <div class="project-card__menu">
    <button type="button" mdbRipple class="btn-icon" (click)="edit.emit()" title="Editar"><i class="fa-solid fa-pen"></i></button>
  </div>
</div>
<p class="project-card__description">{{ project.description }}</p>

<div class="project-card__footer">
  <span class="project-card__deadline" [class.project-card__deadline--overdue]="project.deadLine">
    <i class="fa-solid fa-calendar-days me-1"></i>{{ project.deadLine}}
  </span>
</div>

<div class="project-card__actions">
  <a [routerLink]="['/tasks']" [queryParams]="{ projeto: project.name }" mdbRipple class="btn btn-secondary-ghost btn-sm">
    <i class="fa-solid fa-eye me-2"></i>Ver detalhes
  </a>
  <button type="button" mdbRipple class="btn btn-secondary-ghost btn-sm" (click)="team.emit()">
    <i class="fa-solid fa-user-plus me-2"></i>Equipe
  </button>
</div>
