<div class="nav-tasks">
    <div class="btn-group shadow-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary bg-success" rippleColor="dark">
            Andamento
        </button>
        <button type="button" class="btn btn-outline-secondary bg-danger" rippleColor="dark">
            Atrazadas
        </button>
        <button type="button" class="btn btn-outline-secondary bg-warning" rippleColor="dark">
            A fazer
        </button>
    </div>
    <button type="button" class="btn btn-primary" mdbRipple>Novo</button>
</div>
<br>
<main>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Organizar Pastas</h5>
            <p class="card-text">
                Organizar a estrutura de pastas do projeto, separando os arquivos de acordo com suas respectivas responsabilidades e funcionalidades.
                A estrutura deve ser organizada de forma a facilitar a manutenção, localização e reutilização dos arquivos, seguindo a divisão entre componentes, páginas, serviços e models.]
            </p>
            <div class="card-descricao">
                <p><b>Destino: </b>Mourvan Henrique Maes</p>
                <p><b>Criando em: </b>21/08/2026</p>
                <p><b>Prazo: </b> 09/09/2026</p>
                <p><b>Criado por: </b>Igor</p>
            </div>
            <div class="cads-button text-center">
            <button type="button" class="btn btn-primary">Detalhes</button>
            </div>

        </div>
    </div>
</main>
