<div class="nav-tasks">
    <div class="btn-guias">
        <button type="button" class="btn-task-guia">
            Todos
        </button>
        <button type="button" class="btn-task-guia btn-guia-select">
            Andamento
        </button>
        <button type="button" class="btn-task-guia ">
            Atrasadas
        </button>
        <button type="button" class="btn-task-guia">
            Pendente
        </button>
    </div>
</div>
<br>
<main class="main-card">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Organizar Pastas</h5>
            <p class="card-text">
                Organizar a estrutura de pastas do projeto, separando os arquivos de acordo com suas respectivas responsabilidades e funcionalidades.
                A estrutura deve ser organizada de forma a facilitar a manutenção, localização e reutilização dos arquivos, seguindo a divisão entre componentes, páginas, serviços e models.]
            </p>
            <div class="card-descricao">
                <p><b>Destino: </b>Mourvan Henrique Maes</p>
                <p><b>Criando em: </b>21/08/2026</p>
                <p><b>Prazo: </b> 09/09/2026</p>
                <p><b>Criado por: </b>Igor</p>
            </div>
            <div class="cads-button text-center">
            <button type="button" class="btn btn-primary">Detalhes</button>
            </div>
        </div>
    </div>
    @for (task of tasks; track task.id) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">{{task.title}}</h5>
                <p class="card-text">
                    {{task.description}}
                </p>
                <div class="card-descricao">
                    <p><b>Destino: </b>{{task.assigneeId}}</p>
                    <p><b>Criando em: </b>{{task.createdAt}}</p>
                    <p><b>Prazo: </b>{{task.deadLine}}</p>
                    <p><b>Criado por: </b>{{task.creatorId}}</p>
                </div>
                <div class="cads-button text-center">
                <button type="button" class="btn btn-primary" (click)="description(task)">Detalhes</button>
                </div>
            </div>
        </div>
    }
</main>

<button type="button" class="btn-tasks-new" mdbRipple (click)="new()">+</button>

<ng-template #modalTasks>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tasks</h5>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">
        <app-taskdetails
            [task]="taskSelect"
            (retorno)="Detalisreturn($event)"
        ></app-taskdetails>
    </div>
</ng-template>

<ng-template #modalDesc>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes da tarefa</h5>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">
        <app-taskdescription
            [task]="taskSelect"
        ></app-taskdescription>
    </div>
    <div class="modal-footer">
        <div class="btn-acao-card">
            <button type="button" class="btn btn-primary bg-primary" (click)="closeModal()">Cancelar</button>
            <button type="button" class="btn btn-primary bg-warning" (click)="editTask(taskSelect)">Editar</button>
            <button type="button" class="btn btn-primary bg-danger" (click)="deleteTask(taskSelect)">Deletar</button>
        </div>
    </div>
</ng-template>