<div class="modal-header">
  <h5 class="modal-title">Editar dados pessoais</h5>
  <button type="button" mdbRipple class="btn-close btn-close-white" (click)="modalRef.close()" aria-label="Fechar"></button>
</div>
<div class="modal-body">
  <mdb-form-control class="mb-3">
    <input mdbInput type="text" id="perfilNome" class="form-control" value="Mariana Ferreira" />
    <label mdbLabel class="form-label" for="perfilNome">Nome completo</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3">
    <input mdbInput type="email" id="perfilEmail" class="form-control" value="mariana.ferreira&#64;cabanos.com" />
    <label mdbLabel class="form-label" for="perfilEmail">E-mail</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3">
    <input mdbInput type="tel" id="perfilTelefone" class="form-control" value="(11) 98765-4321" />
    <label mdbLabel class="form-label" for="perfilTelefone">Telefone</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3">
    <input mdbInput type="password" id="perfilSenha" class="form-control" />
    <label mdbLabel class="form-label" for="perfilSenha">Nova senha</label>
  </mdb-form-control>
</div>
<div class="modal-footer">
  <button type="button" mdbRipple class="btn btn-secondary-ghost" (click)="modalRef.close()">Cancelar</button>
  <button type="button" mdbRipple class="btn btn-primary" (click)="modalRef.close()">Salvar alteracoes</button>
</div>
